﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Script {
    <script src="~/Scripts/homePage.js"></script>
}

<h2>Index</h2>

<input type="button" id="btnGetData" value="Получить данные" onclick="homePage.onGetUserButtonClick(false)" />
<input type="button" id="btnGetDataWithError" value="Получить данные с ошибкой" onclick="homePage.onGetUserButtonClick(true)" />

<fieldset>
    <div class="item">
        <label>Id</label>
        <span id="id">-</span>
    </div>
    <div class="item">
        <label>Имя</label>
        <span id="name">-</span>
    </div>
    <div class="item">
        <label>Возраст</label>
        <span id="age">-</span>
    </div>
    <div class="item">
        <label>Пол</label>
        <input type="radio" id="male" name="sex" /> мужской
        <input type="radio" id="female" name="sex" /> женский
    </div>
</fieldset>
