
.header{
    background: yellow;
    height: 50px
}

.nav{
    float: left;
    background: blue;
    width: 200px;
    min-height: 100px;
    height: 100%;
}

.rigth-panel{
    float: right;
    background: blue;
    height: 100%;
    width: 200px;
    margin-right: 0px
}

.content{
    background: gray;
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
}

.footer{
    background: yellowgreen;
    height: 50;
    width: 100%;
}

html, body {
    margin: 0;
    height: 100%;
}